header.header1, .header1-wrapper, .header1-wrapper-contact, .header1-wrapper-contact figure, .header1-wrapper-contact figure figcaption, header.header2, .header2-wrapper, .header2-wrapper-menu, .header2-wrapper-menu a, .header2-wrapper-entrance, .header2-wrapper-entrance figure, header.active .fullscreen-overlay-nav a, header.active .fullscreen-overlay-nav2 a, header.active .fullscreen-overlay-nav2 figure {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto"; }

html {
  transition: all .33s ease-out;
  min-height: 200vh; }

.menu {
  width: 100%;
  position: relative;
  font: 12px "Roboto"; }

header.header1 {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #e6e6e6; }

.header1-wrapper {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  max-width: 1306px;
  height: 34px; }

.header1-wrapper-logo {
  height: 28px; }
  .header1-wrapper-logo img {
    height: 28px;
    width: auto; }

.header1-wrapper-contact {
  justify-content: flex-end;
  height: 20px;
  margin-top: 10px; }
  .header1-wrapper-contact figure {
    height: 20px;
    width: auto;
    margin-left: 30px; }
    .header1-wrapper-contact figure figcaption {
      align-items: center; }
  .header1-wrapper-contact img {
    height: 20px;
    width: auto;
    margin-right: 4px; }

.header1-wrapper-mobile {
  display: none; }
  .header1-wrapper-mobile a#burger {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer; }
    .header1-wrapper-mobile a#burger span {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background: #262626; }
    .header1-wrapper-mobile a#burger span::before, .header1-wrapper-mobile a#burger span::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background: #262626;
      transition: 0.5s; }
    .header1-wrapper-mobile a#burger span::before {
      transform: translateY(-5px); }
    .header1-wrapper-mobile a#burger span::after {
      transform: translateY(5px); }
  .header1-wrapper-mobile a.active span {
    height: 0 !important; }
  .header1-wrapper-mobile a.active span:before {
    transform: rotate(45deg) !important; }
  .header1-wrapper-mobile a.active span:after {
    transform: rotate(-45deg) !important; }

header.header2 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 1px 6px 0 #00000019; }

.header2-wrapper {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  max-width: 1306px; }

.header2-wrapper-menu {
  justify-content: flex-start;
  font-weight: 600; }
  .header2-wrapper-menu a {
    box-sizing: border-box;
    align-items: center;
    height: 54px;
    color: #262626;
    text-decoration: none;
    margin-right: 18px;
    border-bottom: 2px solid transparent;
    -ms-transition: color .1s ease-in-out,border-bottom-color .15s ease-in-out;
    -o-transition: color .1s ease-in-out,border-bottom-color .15s ease-in-out;
    -moz-transition: color .1s ease-in-out,border-bottom-color .15s ease-in-out;
    -webkit-transition: color .1s ease-in-out,border-bottom-color .15s ease-in-out; }
  .header2-wrapper-menu a:hover {
    border-bottom: 2px solid #262626; }

.header2-wrapper-entrance {
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 34px;
  padding-bottom: 5px; }
  .header2-wrapper-entrance figure {
    align-items: flex-end;
    color: #00b372;
    width: 60px;
    margin-left: 26px; }
    .header2-wrapper-entrance figure figcaption {
      margin-bottom: -1px;
      font: 12px "Roboto";
      line-height: 11.5px; }
    .header2-wrapper-entrance figure img {
      height: 20px;
      margin-right: 6px; }

header.header3 {
  display: none; }

header.active {
  display: none; }
  header.active .fullscreen-overlay {
    z-index: 1;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    width: 100%;
    color: #e6e6e6; }
  header.active .fullscreen-overlay-nav {
    box-sizing: border-box;
    z-index: 2;
    width: 90%;
    padding: 25px 0 0 0;
    margin: 0 5%;
    border-bottom: 1px solid #e6e6e6; }
    header.active .fullscreen-overlay-nav a {
      align-items: center;
      margin: 0 0 25px 0;
      color: #262626;
      text-decoration: none; }
  header.active .fullscreen-overlay-nav2 {
    box-sizing: border-box;
    z-index: 2;
    width: 90%;
    padding: 25px 0 0 0;
    margin: 0 5%; }
    header.active .fullscreen-overlay-nav2 a {
      align-items: center;
      margin: 0 0 25px 0;
      color: #00b372;
      text-decoration: none; }
    header.active .fullscreen-overlay-nav2 figure {
      align-items: center; }
    header.active .fullscreen-overlay-nav2 figcaption {
      color: #262626; }

@media (max-width: 960px) {
  header.header2 {
    display: none; }
  .header1-wrapper-contact {
    display: none; }
  .header1-wrapper-mobile {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  figure {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #00b372;
    margin-right: 20px; }
    figure figcaption {
      font: 16px "Roboto"; }
    figure img {
      height: 20px;
      margin-right: 4px; }
  header.active {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; } }
