@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header2-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.header2-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 200px;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 2px 42px 2px 2px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.header2-search-input::-webkit-input-placeholder {
	color: #00b372;
}

.header2-search-input:-moz-placeholder {
	color: #00b372;
}

.header2-search-input::-moz-placeholder {
	color: #00b372;
}

.header2-search-input:-ms-input-placeholder {
	color: #00b372;
}

.header2-icon-search,
.header2-search-submit  {
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.header2-search-submit {
	background: #fff; /* для IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.header2-icon-search {
	color: #262626;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	border-radius: 3px;
}

.header2-icon-search:before {
	content: "\e000";
}

.header2-search.header2-search-open,
.no-js .header2-search {
	width: 250px;
}

.header2-search.header2-search-open .header2-icon-search,
.no-js .header2-search .header2-icon-search {
	z-index: 11;
}

.header2-search.header2-search-open .header2-search-submit,
.no-js .header2-search .header2-search-submit {
	z-index: 90;
}

.header2-search {
	margin-top: 0;
}