body
	position: relative

header.header-RW
	width: 100%
	font-family: Aeroport
	font-weight: 400

.header1
	@extend %flex
	justify-content: space-between
	align-items: flex-end
	box-sizing: border-box
	width: 100%
	height: 85px
	padding: 17px 31px 21px 45px
	margin-bottom: 19px
	color: white
	background: url(../img/header-bg.png)

.header1-description
	@extend %flex
	justify-content: flex-end
	height: 40px

.header1-description-work
	margin-left: 50px

.header1-description-social
	@extend %flex
	align-items: center
	margin-left: 69px

.header1-description-social-link
	position: relative
	display: inline-block
	width: 33px
	height: 33px
	margin-left: 13px
	border-radius: 50%
	background: white

.header1-description-social-link-img
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.header1-description-social :first-child
	margin-left: 0

.header2-mobile-toggle
	display: none

.header2
	@extend %flex
	justify-content: space-between
	align-items: flex-end
	box-sizing: border-box
	width: 100%
	height: 134px
	padding: 18px 35px 26px 45px
	background: white
	color: $dark

.header2-logo
	margin-right: 47px

.header2-description
	@extend %flex
	height: 84px

.header2-menu
	height: 84px
	flex-grow: 1

	a
		@extend %flex
		align-items: center
		height: 42px
		text-decoration: none

	p
		@extend %flex
		align-items: center
		height: 42px
		text-decoration: none

.header2-menu-top
	@extend %flex
	justify-content: space-between
	box-sizing: border-box
	height: 42px
	border-bottom: 1px solid $accent



#bottomMenuToggler
	display: none

.header2-menu-top-link
	color: $dark
	font-size: 18px
	font-weight: 400
	line-height: 8.81px

.header2-menu-bottom
	@extend %flex
	justify-content: space-between
	height: 42px

.header2-menu-bottom-link
	font-family: "Playfair Display SC"
	font-size: 19px
	font-style: italic
	line-height: 8.81px
	font-variant: small-caps
	color: $accent

.header2-description-info
	display: none
	text-align: center
	line-height: 35px

.header2-description-btn
	margin-left: 39px

.header2-description-btn-btn
	width: 220px
	height: 42px
	background: rgb(196,34,182)
	background: linear-gradient(0deg, rgba(196,34,182,1) 0%, rgba(215,40,169,1) 100%)
	border: none
	padding: 17px 12px 13px 11px
	font-size: 16px
	line-height: 8.81px
	color: white

.header2-description-social
	display: none

// Sticky


.sticky-header
	.header1
		display: none

.sticky-header2
	position: fixed
	height: 60px
	align-items: flex-start
	width: 95%
	max-width: 1240px
	padding: 9px 13px
	top: 0
	animation-name: show_header
	animation-duration: 0.25s

	.header2-logo img
		height: 42px

	.header2-menu-top
		border: none

	.header2-menu-bottom
		display: none

@keyframes show_header
	0%
		top: -60px
	100%
		top: 0


// Mobile

@media (max-width: 1200px)
	.header1
		display: none

	.header2-mobile-toggle
		display: -webkit-flex !important
		display: -moz-flex !important
		display: -ms-flex !important
		display: -o-flex !important
		display: flex !important
		flex-direction: column
		align-items: center
		justify-content: center
		text-align: center
		display: block
		color: black
		font-size: 20px

		button
			width: 220px
			height: 42px
			background: transparent
			border-radius: 3px
			border: 2px solid rgb(196,34,182)
			padding: 17px 12px 13px 11px
			font-size: 16px
			line-height: 8.81px
			color: rgb(196,34,182)
			margin: 10px 0 5px 0

	.header2
		flex-direction: column
		align-items: center
		height: auto
		padding: 10px 0

	.header2-logo
		margin: 0

	.header2-menu
		display: none
		height: 0

	.header2-menu-visible
		display: block
		height: auto

		a
			height: 30px

		p
			height: 30px

	#bottomMenuToggler
		display: -webkit-flex !important
		display: -moz-flex !important
		display: -ms-flex !important
		display: -o-flex !important
		display: flex !important

	.header2-menu-bottom
		display: none
		height: 0

	.header2-menu-bottom-visible
		display: block
		height: auto

	.header2-menu-top
		border: none

	.header2-menu-top, .header2-menu-bottom
		height: auto
		flex-direction: column

	.header2-menu-top-link, .header2-menu-bottom-link
		color: $dark
		font-family: aeroport
		justify-content: center

	.header2-description
		flex-direction: column
		height: auto

	.header2-description-info
		display: block

	.header2-description-btn
		margin-left: 0

	.header2-description-btn-btn
		background: white
		color: rgb(196,34,182)
		border-radius: 3px
		border: 2px solid rgb(196,34,182)

	.header2-description-social
		display: -webkit-flex !important
		display: -moz-flex !important
		display: -ms-flex !important
		display: -o-flex !important
		display: flex !important
		align-items: center
		justify-content: space-between
		margin-top: 10px

	.header2-description-social-link
		position: relative
		display: inline-block
		width: 33px
		height: 33px
		border-radius: 50%
		background: white

	.header2-description-social-link-img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

