%flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

$dark: #8b8383
$light: #e6e6e6
$accent: #a99263

*
	padding: 0
	margin: 0
	font-family: 'Roboto', sans-serif

html
	transition: all .33s ease-out
	min-height: 500vh
	background: #F8F8F8

body
	width: 95%
	max-width: 1240px
	margin: 30px auto

@import "menu.sass"